body{
    background-color: rgb(202, 255, 242);
}

div#d1
{
    border: 2px solid black;
    height: 80%;
    width: 46%;
    position: absolute;
    left: 670px;
    overflow: auto;
    box-shadow: 4px 4px 4px #b8b7b7;
    background-color: white;
}
    
#d2
{
    border: 2px solid black;
    height: 80%;
    width: 46%;
    position: absolute;
    top: 102px;
    left: 17px;
    overflow: auto;
    box-shadow: 4px 4px 4px #b8b7b7;
    background-color: rgb(75, 75, 75);
    color: white;
}
    
#i1
{
    
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 4px grey;
}
    
#i2
{
    position: absolute;
    left: 920px;
    top: 45px;
    
}
    
#i3
{
    position: absolute;
    top: 45px;
    left:270px;
    
 }
    

